<div class="statistics">
  <p class="statistics__title">Estadísticas</p>

  <p class="statistics__subtitle">
    Aquí puedes ver como es el comportamiento de nuestras bicicletas
  </p>

  <div class="data-statistics">
    <div class="section-data section-data__chart">
      <canvas
      class="chart-statistics"
        baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'"
      >
      </canvas>
    </div>
    <div class="section-data">
      <canvas
        baseChart
        width="400"
        height="400"
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
      >
      </canvas>
    </div>
  </div>
</div>
