
<section class="row we-are">
  <div class="col-12 labels">
    <p class="labels__title">Somos Bike Location</p>
    <p class="labels__sublabel">
      ¿Por qué elegirnos?</p>
  </div>
  
  <div class="col-12 col-sm-12 col-md-4">
    <div class="card-we-are">
      <mat-icon
        class="card-we-are__icon"
        aria-hidden="false"
        aria-label="check_circle"
        fontIcon="check_circle"
      ></mat-icon>

      <p class="card-we-are__title">Servicio</p>

      <p class="card-we-are__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
        luctus nec ullamcorper mattis.
      </p>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-4">
    <div class="card-we-are">
      <mat-icon
        class="card-we-are__icon"
        aria-hidden="false"
        aria-label="thumb_up_alt"
        fontIcon="thumb_up_alt"
      ></mat-icon>

      <p class="card-we-are__title">Buenas valoraciones</p>

      <p class="card-we-are__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
        luctus nec ullamcorper mattis.
      </p>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-4">
    <div class="card-we-are">
      <mat-icon
        class="card-we-are__icon"
        aria-hidden="false"
        aria-label="format_list_numbered"
        fontIcon="format_list_numbered"
      ></mat-icon>

      <p class="card-we-are__title">Facil de usar</p>

      <p class="card-we-are__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
        luctus nec ullamcorper mattis.
      </p>
    </div>
  </div>
</section>
