<section class="header-landing">
  <div class="body-header">
    <p class="body-header__title">Bienvenido a Bike Location</p>
    <p class="body-header__subtitle">
      Cumple con tus necesidades <br />
      ciclisticas de cada día
    </p>
    <section class="img-bikes">
      <img class="img-bikes__img" src="assets/landing/bikes-principal.png" />
    </section>

    <section class="steps-section">
      <div class="labels-steps">
        <p class="labels-steps__title">Como trabajamos</p>
        <p class="labels-steps__subtitle">Sigue estos 3 pasos</p>
      </div>

      <div class="steps-data">
        <div class="step-card">
          <div class="icon-step">
            <mat-icon
              class="icon-step__icon"
              aria-hidden="false"
              aria-label="pedal_bike"
              fontIcon="pedal_bike"
            ></mat-icon>
          </div>
          <p class="step-card__title">Selecciona una bici</p>
          <p class="step-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <section class="step-arrow">
          <img class="step-arrow__img" src="assets/landing/arrow.png" />
        </section>

        <div class="step-card">
          <div class="icon-step">
            <mat-icon
              class="icon-step__icon"
              aria-hidden="false"
              aria-label="calendar_month"
              fontIcon="calendar_month"
            ></mat-icon>
          </div>
          <p class="step-card__title">Ingresa las fechas</p>
          <p class="step-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <section class="step-arrow">
          <img class="step-arrow__img" src="assets/landing/arrow.png" />
        </section>

        <div class="step-card">
          <div class="icon-step">
            <mat-icon
              class="icon-step__icon"
              aria-hidden="false"
              aria-label="directions_bike"
              fontIcon="directions_bike"
            ></mat-icon>
          </div>
          <p class="step-card__title">Recoge la bici</p>
          <p class="step-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
