@import "../../../../styles/index.scss";

.navbar {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar-body {
  width: 100%;
  max-width: 1140px;
  height: 64px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  &__text-icon {
    color: $ogre-odor-color;
    font-variant: petite-caps;
    font-size: 35px;
    font-weight: 600;
  }
}

.actions {
  display: flex;
  align-items: center;

  &__opt {
    font-family: "Heebo", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: $downriver-color;
    cursor: pointer;
    margin: 0 10px !important;

    &:hover {
      font-weight: bold;
    }
  }

  &__button {
    margin-left: 5px;
  }
}

.icon-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navbar-body {
    padding: 10px 30px;
  }

  .actions {
    display: none;
  }

  .icon-menu {
    display: block;

    &__icon {
      color: $abbey-color;
      font-size: 40px;
      width: 30px;
      height: 35px;
      margin: 10px;
      cursor: pointer;
    }
  }
}
