<section class="about-us">
  <div class="body-about-us">
    <section class="bike-img">
      <img
        class="bike-img__img"
        src="assets/landing/bike-about-us.png"
      />
    </section>

    <section class="about-data">
      <p class="about-data__title">Acerca de nosotros</p>
      <p class="about-data__subtitle">Procesos amigables, rapidos con un buen servicio</p>
      <p class="about-data__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam.</p>
    </section>
  </div>
</section>
