<div class="routes-content">
  <p class="routes-content__title">Mis rutas</p>

  <p class="routes-content__subtitle">
    Aqui puedes hacer un seguimiento de las rutas que se realizo por día
  </p>

  <div class="filters">
    <p>Selecciona un usuario y la fecha que quieres revisar</p>

    <div class="fields">
      <form #formSearch="ngForm"> 
        <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <mat-select [(value)]="search.userId" required="true">
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{ user.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="fields__date" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            name="date"
            [(ngModel)]="search.date"
            required="true"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button
          mat-raised-button
          class="fields__button"
          color="warn"
          [disabled]="!formSearch.valid"
          (click)="searchLocations()"
        >
          Buscar
        </button>
      </form>
    </div>
  </div>
  <div id="ol-map" class="map"></div>
</div>
