.map {
  width: 100%;
  height: 400px;
}

.routes-content {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  height: 100%;

  &__title {
    color: #082852;
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 30px;
  }

  &__subtitle {
    color: #888888;
    font-weight: 100;
    font-size: 15px;
    margin-top: 10px !important;
  }
}

.map {
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.filters {
  margin-top: 30px;
}

.fields {
  display: flex;
  align-items: center;

  &__date {
    margin-left: 30px;
  }

  &__button {
    margin-left: 30px;
  }
}

@media screen and (max-width: 620px) {
  .filters {
    margin-top: 10px;
  }

  .fields {
    flex-flow: wrap;
    justify-content: center;

    &__date {
      margin-left: 10px;
    }

    &__button {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 391px) {
  .fields {
    &__button {
      margin-top: 10px;
    }
  }
}
